@page 
@model CreatePeopleModel
@{
    ViewData["Title"] = "Create Person";
}

<div id="form-window">
    <h1 id="form-h1">Create Person</h1>

    <form method="post">
        <p class="form-paragraph"><strong>Name:</strong><br /> <input class="form-field" asp-for="PeopleModel.Name" /><br /></p>
        <p class="form-paragraph"><strong>Bank Name:</strong><br /> <input class="form-field" asp-for="PeopleModel.BankName" /><br /></p>
        <p class="form-paragraph"><strong>Account Balance :</strong><br /> <input class="form-field" asp-for="PeopleModel.AccountBalance" /><br /></p>
        <input class="form-button" value="Submit" type="submit" />
    </form>
</div>