@page "{ID:int}"
@model EditPersonModel
@{
    ViewData["Title"] = "Edit Person";
}

<div id="form-window">
    <h1 id="form-h1">Edit Person</h1>

    <form method="post">
        <input type="hidden" asp-for="PersonModel.ID"/>
        <p class="form-paragraph"><strong>Name:</strong><br/> <input class="form-field" asp-for="PersonModel.Name"/><br/></p>
        <p class="form-paragraph"><strong>Bank Name:</strong><br/> <input class="form-field" asp-for="PersonModel.BankName"/><br/></p>
        <p class="form-paragraph"><strong>Account Balance :</strong><br/> <input class="form-field" asp-for="PersonModel.AccountBalance"/><br/></p>
        <input class="form-button" value="Submit" type="submit"/>
    </form>
</div>